@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap');

body{
     background-color:#5089C6;
     text-align: center;
     font-size: larger;
     color: aliceblue;
     font-family: 'Gluten', cursive;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30vw;
    background-color:#00C1D4;
    border-radius: 1rem;
    border: 10px solid rgb(37, 76, 158);
}

.description{
    font-size: large;
    padding: 2rem;    
}

#bill-amt {
    margin : 0.5rem 2rem 1.5rem 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: solid #00C1D4;
}

#cash-gn{
    margin : 0.5rem 2rem 1rem 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: solid #00C1D4;
}   


#check-btn{
   padding: 0.8rem 1rem 0.8rem 1rem;
   background-color: #214747;
   border-radius: 1rem;
   border: 5px solid #00C1D4;
   color: aliceblue;
   font-family: 'gluten', cursive;
   cursor: pointer;

}

.change-table{
    padding: 1rem 2rem 2rem 2rem;
}

.no-of-notes{
    background-color: rgb(191, 198, 201);
    padding: 1.5rem;
}

.row-2{
    background-color: cornsilk;

    color: darkcyan;
}

.h2{
    padding: 0.5rem
}